<div class="profile-input">
    <div id="popup">
        <app-success-popup *ngIf="isPopupOpen" [message]="successMessage"
            (closed)="closeSuccessPopup()"></app-success-popup>
    </div>
    <h2>Create new profile</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="input-name">
            <input type="text" [(ngModel)]="name" name="name" placeholder="Enter Your Name" required>
            <div class="msg-error" *ngIf="nameError">
                {{nameError}}
            </div>
        </div>
        <div class="input-skills">
            <div><strong>skills</strong></div>
            <div class="skill" *ngFor="let item of allSkills">
                <label>
                    <input type="checkbox" [value]="item" (change)="onCheckboxChange(item)"
                        [checked]="skills.includes(item)" />
                    {{ item }}
                </label>
            </div>
        </div>
        <div *ngIf="skillsError" class="msg-error">{{skillsError}}</div>
        <div class="submit-btn">
            <button class="btn" type="submit">Create</button>
        </div>
    </form>
</div>