.profile-box {
    width: 20rem;
    height: 15rem;
    padding: 1em;
    background-color: rebeccapurple;
    margin: 5px;
}

.name {
    text-align: center;
    width: 100%;
    padding: 5px 5px 10px 5px;
    background-color: red;
}

.skills>ul>li {
    list-style: none;
    padding: 10px 10px 0px 10px;
}