<div class="status-container">
    <div class="form">
        <h1>API Get Request</h1>
        <form class="apiForm">
            <input type="text" id="tracking_id" name="tracking_id" placeholder="Tracking ID"><br>
            <input type="text" id="entity_id" name="entity_id" placeholder="Entity Id"><br>
            <button type="button" onclick="sendAPIRequest()">Submit</button>
        </form>
        <div class="loading">
            Loading...
        </div>
        <div id="response"></div>
    </div>
</div>